/*-----------------------------------------------Secciones*/
/*---------------------------Secciones-contenidos*/
//Variables
$bg-banner: #576e7a;
$color-sombra: #acbdc4;
$color-sombra-oscuro: #475158;

#seccion {
    .seccion-main {
        width: 80%;
        padding-top: 10rem;
        background-color: white;

        .seccion-banner {
            background-color: $bg-banner;
            color: white;
            text-align: start;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 5px;
        }

        .seccion-banner:hover {
            background-color: $color-sombra;
            color: $color-sombra-oscuro;
            transition-duration: 1s;
        }

        .seccion-productos {
            text-align: center;

            .img_4 {
                width: 300px;
                height: 300px;
                border-radius: 15px;
                box-shadow: $color-sombra-oscuro 3px 3px 3px 3px;
            }

            .img_4:hover {
                width: 315px;
                height: 315px;
                transition-duration: 1s;
                box-shadow: $color-sombra 3px 3px 3px 3px;
            }

            .texto_4 {
                text-align: center;
                font-size: 0.8rem;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 1rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}
/*---------------------------Fin-Secciones-contenidos*/

/*---------------------------Inicio-Contacto*/
//Variables
$color-border: #fffbf8;
$color-botones: #607886;
$color-hover: #ffc3a0;
$color-hover-texto: #3e464b;

#Contacto {
    max-width: 100%;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    padding: 2rem;
    font-weight: 500;

    .Contacto-consulta {
        max-width: 50%;
        border: $color-border solid;
        border-radius: 4px;
        margin: auto;
        padding: 1rem;
        line-height: 30px;
        font-size: 1rem;

        .Contacto-consulta__comentario {
            display: block;
        }

        .Contacto-consulta__input,
        textarea {
            background-color: $color-border;
            color: black;
            display: inline-block;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            padding: 0.4rem;
            width: 100%;
            border: none;
        }

        .BotonEnviar {
            width: 45%;
            background-color: $color-botones;
            color: $color-border;
            border: $color-botones solid;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 0.3rem;
            padding: 0.4rem;
            margin-left: 1.2rem;
        }

        select {
            width: 35%;
            background-color: $color-botones;
            border: $color-botones solid;
            color: $color-border;
            font-size: 1rem;
            border-radius: 0.3rem;
            padding: 0.3rem;
            margin-left: 0.4rem;
        }

        .BotonEnviar:hover,
        select:hover,
        .Contacto-consulta__input:hover,
        textarea:hover {
            background-color: $color-hover;
            color: $color-hover-texto;
            border: $color-hover-texto solid 2px;
            transition-duration: 0.5s;
        }
    }
}
/*---------------------------Fin-Contacto*/
/*-----------------------------------------------Fin-Secciones*/
